#basediv {
    .nav_title {
        position: relative;
        margin-bottom: 5px;
        border-left: 3px solid transparent;
        position: relative;
        padding: 7px 35px 7px 15px;
        display: block;
        font-size: 14px;
        white-space: nowrap;
        i {
            width: 27px;
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            color: #99abb4;
        }
        &:after {
            position: absolute;
            content: '';
            width: 7px;
            height: 7px;
            border-width: 1px 0 0 1px;
            border-style: solid;
            border-color: #607d8b;
            right: 1em;
            -webkit-transform: rotate(135deg) translate(0, -50%);
            -ms-transform: rotate(135deg) translate(0, -50%);
            -o-transform: rotate(135deg) translate(0, -50%);
            transform: rotate(135deg) translate(0, -50%);
            -webkit-transform-origin: top;
            -ms-transform-origin: top;
            -o-transform-origin: top;
            transform-origin: top;
            top: 47%;
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        &.active {
            color: #1976d2;
            font-weight: 500;
            i {
                color: #1976d2;
            }
            &:after {
                -webkit-transform: rotate(-135deg) translate(0, -50%);
                -ms-transform: rotate(-135deg) translate(0, -50%);
                -o-transform: rotate(-135deg) translate(0, -50%);
                top: 45%;
                width: 7px;
                transform: rotate(-135deg) translate(0, -50%);
            }
        }
    }
    .sub_menu {
        padding-left: 28px;
        .nav_title {
            position: relative;
            margin-bottom: 5px;
            border-left: 3px solid transparent;
            position: relative;
            padding: 7px 35px 7px 15px;
            display: block;
            font-size: 14px;
            white-space: nowrap;
        }
    }
}

.collapse.in {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    li {
        div {
            span,
            &:after {
                transition: visibility 2s, opacity 0.5s linear;
            }
        }
    }
    &.toggle-nav {
        li {
            div {
                padding-right: 15px;
                span,
                &:after {
                    /* display: none; */
                    visibility: hidden;
                    opacity: 0;
  
  
                }
            }
        }
    }
    li {
        cursor: pointer;
        list-style: none;
        &.active {
            div {
                // border-left: 3px solid #1976d2;
                color: #fff;
                font-weight: 500;
            }
        }
        div {
            display: block;
            font-size: 16px;
            white-space: nowrap;
            // border-left: 3px solid #fff;
            color: #fff;
            padding: 7px 35px 7px 15px;
            &.has-arrow {
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    width: 7px;
                    height: 7px;
                    border-width: 1px 0 0 1px;
                    border-style: solid;
                    border-color: #fff;
                    right: 1em;
                    -webkit-transform: rotate(135deg) translate(0, -50%);
                    -ms-transform: rotate(135deg) translate(0, -50%);
                    -o-transform: rotate(135deg) translate(0, -50%);
                    transform: rotate(135deg) translate(0, -50%);
                    -webkit-transform-origin: top;
                    -ms-transform-origin: top;
                    -o-transform-origin: top;
                    transform-origin: top;
                    top: 47%;
                    -webkit-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                }
            }
        }
        &>ul {
            
            &.sub-menu {
                li {
                    div {
                        font-size: 15px;
                        padding-left: 65px;
                        background: url(../../images/list-arrow.png) 55px 14px no-repeat;
                        min-height: 36px;
                    }
                    .sub-sub-menu {
                            div {
                                font-size: 14px;
                                padding-left: 90px;
                                background: url(../../images/list-arrow.png) 80px 14px no-repeat;
                                min-height: 36px;
                            }
                    }
                }
            }
        }
    }
}