<!-- <app-header-buttons [csvjson]="patients"></app-header-buttons> -->
<div class="row">
    <div class="col-md-12">
        <div class="pull-left search_form">
            <div class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" [(ngModel)]="searchStr">
                    <div class="dropdown">
                        <button class="dropbtn">options</button>
                        <div class="dropdown-content">
                            <a href="#">Reg No.</a>
                            <a href="#">Adm Seq.</a>
                            <a href="#">Patient Name</a>
                            <a href="#">Doctor Name</a>
                        </div>
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" (click)="searchAdmittedPatient()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>&nbsp;
                    <div  class="from">From:</div>
                    <p-calendar [(ngModel)]="dateValuefrom" (change)="changefromdate()" name="dateValuefrom"
                        dateFormat="dd.mm.yy"></p-calendar>
                        <div  class="to">To:</div>
                        <p-calendar [(ngModel)]="dateValueto" (change)="changetodate()" name="dateValueto" dateFormat="dd.mm.yy"></p-calendar>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" (click)="searchPatient()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="pull-right add_print">
            <button type="button" class="btn btn-primary btn-flat btn-lg" (click)="createAppointment()">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                Create Appointment
            </button>
            <button (click)="exportToCSV()" class="btn btn-primary btn-flat btn-lg pull-right ">
                <i class="fa fa-file"></i>
                Export
            </button>
        </div>
    </div>
</div><br> 

<div style="margin: auto; margin-top:10px">
    <data-table id="patients-grid" headerTitle="" [items]="arrrangedpatientdata" [itemCount]="patientCount" (reload)="reloadPatients($event)"
        [limit]="15" [sortAsc]="false" [selectColumn]="true" [multiSelect]="true" [substituteRows]="false"
        [expandableRows]="false" [translations]="translations" [indexColumn]="false" [selectOnRowClick]="true">
        <data-table-column [property]="'$id'" [header]="'Seq.'" [resizable]=true [width]="50">
        </data-table-column>

        <!-- <data-table-column [width]="80">
            <ng-template #dataTableHeader let-item="item">
                Reg No.
            </ng-template>
            <ng-template #dataTableCell let-item="item">
                <a href="/" onclick="return false;" (click)="ongridclick($event , item , content)">{{item.patient_registration_no}}</a>
            </ng-template>
        </data-table-column> -->


        <data-table-column [property]="'patient_first_name'" [header]="'Patient Name'" [sortable]="true" [resizable]=true
            [width]="120">
        </data-table-column>

        <data-table-column [property]="'patient_phone'" [header]="'Phone'" [sortable]="true" [resizable]=true [width]="100">
        </data-table-column>

        <data-table-column [property]="'patient_phone'" [header]="'Appointment_Time'" [sortable]="true" [resizable]=true [width]="100">
            </data-table-column> 

            <data-table-column [property]="'patient_phone'" [header]="'Appoint-Doctor'" [sortable]="true" [resizable]=true [width]="100">
                </data-table-column>
        <data-table-column [property]="'action'" [header]="'Action'" [sortable]="false" [resizable]=true [width]="110">
            <ng-template #dataTableCell let-item="item">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <div class="dropdown">
                                <div class="test">
                                    <div class="dropdown-content">
                                        <a href="#"  (click)="clickEventHandler($event , 'modeView' , item)"><i class="fa fa-eye" ></i>&nbsp;&nbsp;View</a>
                                        <a href="#"  (click)="clickEventHandler($event ,'modeEdit' , item)"> <i class="fa fa-edit" ></i>&nbsp;&nbsp;Edit </a>
                                        <a href="#"  (click)="clickEventHandler($event , 'modeDelete' , item)"> <i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete</a>
                                        <a href="#"  (click)="clickEventHandler($event ,'modeAdmission' , item)"><i class="fa fa-h-square"></i>&nbsp;&nbsp;Admission</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

            </ng-template>
        </data-table-column>
    </data-table>
</div>









































<ng-template #content let-modal>
    <div class="modal-header" style="background-color: rgba(26, 82, 146, 0.856)">
        <h4 class="modal-title" id="modal-basic-title" style="color:rgb(4, 4, 26)">PATIENT REGISTERATION
            INFORMATION
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closemodal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="regid">Registeration Id</label>
                        <div class="input-group">
                            <input class="form-control" name="id" readonly value="{{rowdata?.patient_registration_no}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="regid">Patient Name</label>
                        <div class="input-group">
                            <input class="form-control" readonly name="name" value="{{rowdata?.patient_first_name}} {{rowdata?.patient_first_name}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="regdate">Registeration Date</label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.admitted_on}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="doctorunder"> Under Doctor</label>
                        <div class="input-group">
                            <input class="form-control" readonly name="dp" value="{{rowdata?.doctro_under_name}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone">Patient Phone</label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.patient_phone}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="age">Patient Age</label>
                        <div class="input-group">
                            <input class="form-control" readonly name="dp" value="{{rowdata?.patient_age}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.patient_sex}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="isbplholder">Bpl Holder </label>
                        <div class="input-group">
                            <input class="form-control" readonly name="isbplholder" value="{{rowdata?.Is_Bpl_holder}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="city"> Patient City </label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.patient_city}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address">Patient Address</label>
                        <div class="input-group">
                            <input class="form-control" readonly name="address" value="{{rowdata?.patient_address}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="policestation">Police station </label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.police_station}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="religion">Religion</label>
                        <div class="input-group">
                            <input class="form-control" readonly name="dp" value="{{rowdata?.religion}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="notes">Notes</label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.patient_notes}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nationality">Nationality</label>
                        <div class="input-group">
                            <input class="form-control" readonly name="nationality" value="{{rowdata?.nationality}}">
                        </div>
                    </div>
                </div>
            </div>


        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closemodal('Save click')">Close</button>
    </div>
</ng-template>