<!-- <generic-popup [modalOption]="modaloption"></generic-popup> -->
<div class="card crd_frm">
    <div class="card-body">
        <div class="basic-form">
            <div class="row  "  *ngIf="datapresent">
                <hmis-vertical-label-type [templateid]="gencomp[gencomp.CompText]" [labelname]="'Hospital Reg No.'" class="col-lg-6 col-sm-6 required"
                [errorMessage]="'Provide Hospital Reg. Number'"
                [isrequire]=true  [propName]="'hospital_reg_no'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

                <hmis-vertical-label-type [templateid]="gencomp[gencomp.CompText]" [labelname]="'Hospital name'" class="col-lg-6 col-sm-6 required"
                [errorMessage]="'Provide Hospital Name.'"
                [isrequire]=true   [propName]="'hospital_name'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

                <hmis-vertical-label-type [templateid]="gencomp[gencomp.Compnumber]" [labelname]="'Phone number'" class="col-lg-6 col-sm-6 required"
                [errorMessage]="'Provide Phone Number.'"
                [isrequire]=true   (customValidation)="customPhoneNoCheck($event)"
                [showCustomError]="phoneError" [condition]="customCond" [propName]="'phone_number'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

                <hmis-vertical-label-type [templateid]="gencomp[gencomp.CompText]" [labelname]="'Fax'" class="col-lg-6 col-sm-6 required"
                [errorMessage]="'Provide Fax.'"
                [isrequire]=true   [propName]="'fax'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

                <hmis-vertical-label-type [templateid]="gencomp[gencomp.CompText]" [labelname]="'Email ID'" class="col-lg-6 col-sm-6 required"
                [errorMessage]="'Provide Email.'"
                [isrequire]=true  (customValidation)="customemailCheck($event)"
                [showCustomError]="emailError" [condition]="customCond" [propName]="'emailid'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

                <hmis-vertical-label-type [templateid]="gencomp[gencomp.CompText]" [labelname]="'State'" class="col-lg-6 col-sm-6 required"
                [errorMessage]="'Provide State.'"
                [isrequire]=true [propName]="'state'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

                <hmis-vertical-label-type [templateid]="gencomp[gencomp.CompText]" [labelname]="'Country'" class="col-lg-6 col-sm-6 required"
                [errorMessage]="'Provide Country.'"
                [isrequire]=true [propName]="'country'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

                <hmis-vertical-label-type [templateid]="gencomp[gencomp.CompText]" [labelname]="'Number of beds'" class="col-lg-6 col-sm-6 required"
                [errorMessage]="'Provide Number Of Beds.'"
                [isrequire]=true   [propName]="'number_of_beds'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

                <hmis-vertical-label-type [templateid]="gencomp[gencomp.CompText]" [labelname]="'Managing director / Owner name'" class="col-lg-6 col-sm-6 required"
                [errorMessage]="'Provide Managing director / Owner name.'"
                [isrequire]=true [propName]="'owner_name'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

                <hmis-vertical-label-type [templateid]="gencomp[gencomp.Comptextarea]" [labelname]="'Address'" class="col-lg-12 col-sm-12 required"
                [errorMessage]="'Address'"
                [isrequire]=true   [propName]="'address'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

            </div>
        </div>
    </div>
    <!-- <div class="card-title">
        <h4>Contact person details</h4>
    </div> -->
    <!-- <div class="card-body">
        <div class="basic-form">
            <div class="row">

                <hmis-vertical-label-type [templateid]="gencomp[gencomp.CompText]" [labelname]="'Contact person'" class="col-lg-6 col-sm-6 required"
                    [propName]="'contact_person'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

                <hmis-vertical-label-type [templateid]="gencomp[gencomp.Compnumber]" [labelname]="'Phone Number'" class="col-lg-6 col-sm-6 required"
                    [propName]="'contact_person_phone_no'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

                <hmis-vertical-label-type [templateid]="gencomp[gencomp.Compnumber]" [labelname]="'Alt phone number'" class="col-lg-6 col-sm-6 required"
                    [propName]="'alt_phone_no'" (compValueChange)="valueChangeHandler($event)"></hmis-vertical-label-type>

            </div>
        </div>
    </div> -->
    <!-- <div class="card-title">
        <h4>Integration</h4>
    </div> -->
    <!-- <div class="card-body tdl-holder">
        <div class="basic-form tdl-content">
            <label>
                <input name="bill" type="checkbox">
                <i class="bg-primary"></i>
                <span>Billing to finance</span>
            </label>
            <label>
                <input name="bill" type="checkbox">
                <i class="bg-primary"></i>
                <span>To pharmacy invoice</span>
            </label>
        </div>
    </div> -->

    <div>
        <button *ngIf="showSubmitBtn" class="btn btn-default btn-info" (click)="submitClickHandler()">{{submitBtnLabel}}</button>
        <!--button type="reset" class="btn btn-default btn-warning">Reset</button-->
    </div>
</div>