@media screen and (min-width:768px) {
    .modal-lg {
        max-width: calc(100% - 30%) !important
    }
}



.required {
    .form-group {
        &>label {
            &::after {
                content: "*";
                color: red;
            }
        }
    }
}












