@import '../../styles/variable';
.login-logo {
    text-align: center;
    margin-bottom: 15px;
    span {
        color: $white;
        font-size: 24px;
    }
    img {
        height: 75px;
    }
}

.login-content {
    margin: 100px 0;
}

.login-form {
    background: $white;
    padding: 30px 30px 20px;
    border-radius: 2px;
    h4 {
        color: $text;
        text-align: center;
        margin-bottom: 50px;
    }
    .checkbox {
        color: $text;
        label {
            text-transform: none;
        }
    }
    .btn {
        width: 100%;
        text-transform: uppercase;
        font-size: 14px;
        padding: 15px;
        border: 0px; //        font-family: @mol;
    }
    label {
        color: $text;
        text-transform: uppercase;
        //        font-family: @mol;
        a {
            color: $primary;
        }
    }
}

.social-login-content {
    margin: 0px -30px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    padding: 30px 0px;
    background: #fcfcfc;
}

.social-button {
    padding: 0 30px;
    i {
        padding: 19px;
    }
}

.register-link {
    a {
        color: $primary;
    }
}

.img-responsive {
    width: 100%;
    height: auto;
    display: inline-block;
}

.top-logo .tl-side-smallhd span {
    display: block;
    text-align: center;
    text-transform: capitalize;
}

.top-logo {
    margin-bottom: 20px;
    background-color: #fff;
    margin: -15px -15px 0 -15px;
    padding: 10px;
}

.xs-logo {
    display: none;
}

.tl-hd img {
    max-width: 195px;
    margin: auto;
}

.tl-hd {
    display: flex;
    justify-content: center;
}

.lgcontent {
    background: rgba(255, 255, 255, 0.7);
    width: 36%;
    padding: 15px;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #08a1ff;
    position: relative;
    z-index: 1;
    border-radius: 0;
    margin: 40px auto 30px;
}

.lgpg-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
}

.lgpg-bg img {
    -webkit-animation: kenburns 40s linear infinite;
    animation: kenburns 40s linear infinite;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.lgformarea {
    margin-top: 30px;
}

.lgformarea-hd {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #444;
    line-height: normal;
}

.customform .custom-btn,
.custom-form-btn {
    background: #1a8fd7;
    color: #fff;
    font-size: 16px;
    padding: 0.6rem 2rem;
    border-radius: 2px;
}

.form-group.with-icon {
    position: relative;
}

.form-group.with-icon i {
    position: absolute;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    width: 40px;
    text-align: center;
    background: #08a1ff;
    border-right: 1px solid #1a8fd7;
    color: #ffffff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group.with-icon input.custom-txt-input,
.form-group.with-icon input.custom-pass-input {
    padding-left: 50px;
    border: 0;
    background-color: #fff;
    box-shadow: none;
    font-size: 14px;
}

.form-group.with-icon {
    .custom-txt-input,
    .custom-pass-input {
        padding-left: 50px;
        border: 0;
        background-color: #fff;
        box-shadow: none;
        font-size: 14px;
        border-radius: 2px;
        height: 40px;
    }
}

.error_block {
    color: #b94a48;
    background-color: #fcf2f2;
    border-color: #dFb5b4;
    padding: 15px;
    text-align: center;
    display: block;
}
.form-group label { color: red; font-size: 14px; }


@media screen and (max-width:768px) {
     .lgcontent { width: calc(100% - 20%)!important;}      
}