<div class="col-md-12">

  <!-- <app-header-buttons></app-header-buttons> -->
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right add_print">
        <button type="button" class="btn btn-primary btn-flat btn-lg pull-right" (click)="addprice()">Add Price</button>
      </div>
    </div>
  </div>


  <div class="clearfix"></div>
  <div style="margin: auto; margin-top:10px">
    <data-table id="patients-grid" headerTitle="Price list" [items]="price" [itemCount]="priceCount" (reload)="reloadprice($event)" [limit]="15"
      [sortAsc]="false" [selectColumn]="false" [multiSelect]="false" [substituteRows]="false" [expandableRows]="false" [translations]="translations"
      [indexColumn]="false" [selectOnRowClick]="true">

      <data-table-column [property]="'price_code'" [header]="'Price Code'" [sortable]="true">
      </data-table-column>
      <data-table-column [property]="'price_title'" [header]="'Price Title'" [sortable]="true">
      </data-table-column>
      <data-table-column [property]="'price_description'" [header]="'Description'" [sortable]="true">
      </data-table-column>
      <data-table-column [property]="'price'" [header]="'Price'" [sortable]="true">
      </data-table-column>
      <data-table-column [property]="'action'" [header]="'Action'" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
          <hmis-generic-action [itemdata]=item (clickHandler)="clickEventHandler($event)"></hmis-generic-action>
        </ng-template>
      </data-table-column>
    </data-table>
  </div>



</div>