<div class="col-md-12">

  <!-- <app-header-buttons></app-header-buttons> -->
  <button type="button" class="btn btn-primary btn-flat btn-lg pull-right" (click)="addHospitalSttings()">Edit Hospital Settings</button>
  <div class="clearfix"></div>
  <div style="margin: auto; margin-top:50px">
    <data-table id="patients-grid" headerTitle="Hospital List" [items]="hospitalSettings" [itemCount]="hospitalSettingsCount"
      (reload)="reloadHospitalDetails($event)" [limit]="15" [sortAsc]="false" [selectColumn]="false" [multiSelect]="false"
      [substituteRows]="false" [expandableRows]="false" [translations]="translations" [indexColumn]="false" [selectOnRowClick]="true">

      <data-table-column [property]="'$id'" [header]="'Seq.'" [sortable]="true">
      </data-table-column>
      <data-table-column [property]="'hospital_name'" [header]="'Hospital Name'" [sortable]="true">
      </data-table-column>
      <data-table-column [property]="'phone_number'" [header]="'Phone Number'" [sortable]="true">
      </data-table-column>
      <!-- <data-table-column [property]="'action'" [header]="'Action'" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
          <hmis-generic-action [itemdata]=item (clickHandler)="clickEventHandler($event)"></hmis-generic-action>
        </ng-template>
      </data-table-column> -->
    </data-table>
  </div>
</div>