<div class="col-md-12">

    <!-- <app-header-buttons></app-header-buttons><br> -->
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="pull-right add_print">
                <button type="button" class="btn btn-primary btn-flat btn-lg pull-right" (click)="addAdmission()">New admission</button>
            </div>
        </div>
    </div> -->


    <div class="clearfix"></div>
    <div style="margin: auto; margin-top:10px">
        <data-table id="Approvaldashboard-grid" headerTitle="Approval List" [items]="approvaldashboiardlistdata" [itemCount]="approvalListCount"  (reload)="reloadapprovaldashboiardlist($event)"
            [limit]="15" [sortAsc]="true" [selectColumn]="false" [multiSelect]="false" [substituteRows]="false" [expandableRows]="false"
            [translations]="translations" [indexColumn]="false" [selectOnRowClick]="true">
            <data-table-column [property]="'$id'" [header]="'Seq.'"  [resizable]=true [width]="50">
            </data-table-column>
            <data-table-column [property]="'admission_sequence'" [header]="'Adm.seq'" [sortable]="true" [resizable]=true [width]="110">
            </data-table-column>
            <data-table-column [property]="'patient_first_name'" [header]="'First Name'" [sortable]="true" [resizable]=true [width]="130">
            </data-table-column>
            <data-table-column [property]="'patient_last_name'" [header]="'Last name'" [sortable]="true" [resizable]=true [width]="120">
            </data-table-column>
            <data-table-column [property]="'transaction_type'" [header]="'Adm Type'" [sortable]="true" [resizable]=true [width]="130">
            </data-table-column>
            <data-table-column [property]="'approval_status_name'" [header]="'Status'" [sortable]="true" [resizable]=true [width]="130">
            </data-table-column>
            <data-table-column [property]="'approval_note'" [header]="'Note'" [sortable]="true" [resizable]=true [width]="160">
         </data-table-column>
            <data-table-column [property]="'action'" [header]="'Action'" [sortable]="true" [resizable]=true [width]="130">
                <ng-template #dataTableCell let-item="item">
                    <hmis-generic-action [deleteDisable]=false [itemdata]=item (clickHandler)="clickEventHandler($event)"></hmis-generic-action>
                </ng-template>
            </data-table-column>
        </data-table>
    </div>