<div class="col-md-12">

    <!-- <app-header-buttons></app-header-buttons> -->




    <div class="row">
        <div class="col-md-12">

            <div class="pull-left search_form">
                <div class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="q" [(ngModel)]="searchStr">
                        <div class="dropdown">
                            <button class="dropbtn">options</button>
                            <div class="dropdown-content">
                                <a href="#">Reg. id</a>
                                <a href="#">Adm id.</a>
                                <a href="#">Patient Name</a>
                            </div>
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-primary" (click)="searchAdmittedPatient()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>&nbsp;
                        <p-calendar [(ngModel)]="dateValuefrom" name="dateValuefrom"></p-calendar>
                        <p-calendar [(ngModel)]="dateValueto" name="dateValueto"></p-calendar>
                        <div class="input-group-btn">
                            <button class="btn btn-primary" (click)="searchPatient()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>&nbsp;

            <div class="pull-right add_print">
                <button type="button" class="btn btn-primary btn-flat btn-lg" (click)="addDischrageCertificate()">
                    <!-- <i class="fa fa-plus-square" aria-hidden="true"></i> -->
                    Add Discharge
                </button>
                <button (click)="exportToCSV()" class="btn btn-primary btn-flat btn-lg pull-right ">
                    <i class="fa fa-file"></i>
                    Export
                </button>
            </div>
        </div>
    </div><br>





    <!-- 
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right add_print">
                <button type="button" class="btn btn-primary btn-flat btn-lg pull-right" (click)="addDischrageCertificate()">Add Discharge</button>
            </div>
        </div>
    </div> -->

    <div class="clearfix"></div>
    <div style="margin: auto; margin-top:10px">
        <data-table id="patients-grid" headerTitle="Discharge list" [items]="dischargeCertificates" [itemCount]="dischargeCertificateCount"
            (reload)="reloaddischargeCertificates($event)" [limit]="15" [sortAsc]="false" [selectColumn]="false"
            [multiSelect]="false" [substituteRows]="false" [expandableRows]="false" [translations]="translations"
            [indexColumn]="false" [selectOnRowClick]="true" (rowClick)="ongridclick($event , content)">

   <data-table-column [property]="'$id'" [header]="'Seq.'" [sortable]="true"  [width]=80>
        </data-table-column>

            <data-table-column [property]="'admission_sequence'" [header]="'Admission Id'" [sortable]="true" [width]="140">
            </data-table-column>
            <data-table-column [property]="'patient_registration_no'" [header]="'Registration Id'" [sortable]="true"
                [width]="160">
            </data-table-column>
            <data-table-column [property]="'patient_name'" [header]="'Patient Name'" [sortable]="true" [width]="160">
            </data-table-column>
            <data-table-column [property]="'date_of_admission'" [header]="'Admitted On'" [sortable]="true" [width]="160">
            </data-table-column>
            <data-table-column [property]="'discharge_date'" [header]="'Discharged On'" [sortable]="true" [width]="160">
            </data-table-column>

            <!-- <data-table-column [property]="'action'" [header]="'Action'" [sortable]="true" [width]="150">
                <ng-template #dataTableCell let-item="item">
                    <hmis-generic-action [itemdata]=item (clickHandler)="clickEventHandler($event)"></hmis-generic-action>
                </ng-template>
            </data-table-column> -->

            <data-table-column *ngIf="!isreadonly" [property]="'action'" [header]="'Action'" [sortable]="false" [resizable]=true [width]="120">
                <ng-template #dataTableCell let-item="item">
    
                    <nav class="navbar navbar-default">     
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <div class="dropdown">
                                    <div class="test">
                                        <div class="dropdown-content">
                                            <a href="#"  (click)="ClickEventHandler($event , 'modeView' , item)"><i class="fa fa-eye" ></i>&nbsp;&nbsp;View</a>
                                            <a href="#"  (click)="ClickEventHandler($event ,'modeEdit' , item)"> <i class="fa fa-edit" ></i>&nbsp;&nbsp;Edit </a>
                                            <a href="#"  (click)="ClickEventHandler($event , 'modeDelete' , item)"> <i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
    
                </ng-template>
            </data-table-column>
        </data-table>
    </div>
</div>





<ng-template #content let-modal>
    <div class="modal-header" style="background-color: rgba(26, 82, 146, 0.856)">
        <h4 class="modal-title" id="modal-basic-title" style="color:rgb(4, 4, 26);">DISCHARGE INFORMATION</h4>
        <button type="button" class="close" aria-label="Close" (click)="closemodal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <H6><B>GENERAL INFORMATION</B></H6>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="regid">Registeration Id</label>
                        <div class="input-group">
                            <input class="form-control" name="id" readonly value="{{rowdata?.patient_registration_no}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="admid">Admission Id</label>
                        <div class="input-group">
                            <input class="form-control" readonly name="name" value="{{rowdata?.admission_sequence}}">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="admissiondate">Admission Date</label>
                        <div class="input-group">
                            <input class="form-control" readonly name="dateofadmission" value="{{rowdata?.date_of_admission}}">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <H6><B>DISCHARGE INFORMMATION</B></H6>
                </div>
            </div>
            <hr>




            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ddate">Discharge Date</label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.discharge_date}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dadvice">Advice On Discharge</label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.advise_on_discharge}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dinstructions">Discharge Instructions </label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.discharge_instruction}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dnote">Discharge Note</label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.discharge_note}}">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="fdiagonysis">Final Diagonysis</label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.final_diagonysis}}">
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12">
                    <H6><B>PATIENT INFORMATION</B></H6>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="pname">Patient Name</label>
                        <div class="input-group">
                            <input class="form-control" readonly name="pname" value="{{rowdata?.patient_name}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="pgender"> Patient Gender</label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.patient_sex}}">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="pdob">Patient Dob</label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.patient_dob}}">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="guardianname">Patient Guardian Name</label>
                        <div class="input-group">
                            <input class="form-control" readonly name="paddress" value="{{rowdata?.name_of_gurdian}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="grelated">Guardian related to patient </label>
                        <div class="input-group">
                            <input class="form-control" readonly value="{{rowdata?.relationship_with_patient}}">
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closemodal('Save click')">Close</button>
    </div>
</ng-template>