<div class="col-md-12">

    <!-- <app-header-buttons></app-header-buttons> -->
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right add_print">
                <button type="button" class="btn btn-primary btn-flat btn-lg pull-right" (click)="addNewBorn()">Add New Born</button>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div style="margin: auto; margin-top:10px">
        <data-table id="patients-grid" headerTitle="New Born list" [items]="newBorn" [itemCount]="newBornCount" (reload)="reloadNewBorn($event)"
            [limit]="15" [sortAsc]="false" [selectColumn]="false" [multiSelect]="false" [substituteRows]="false" [expandableRows]="false"
            [translations]="translations" [indexColumn]="false" [selectOnRowClick]="true">
            <data-table-column [property]="'father_name'" [header]="'Father name'" [sortable]="true" [width]="160"
            >
            </data-table-column>
            <data-table-column [property]="'mother_name'" [header]="'Mother name'" [sortable]="true" [width]="160">
            </data-table-column>
            <data-table-column [property]="'baby_alias_name'" [header]="'Alias name'" [sortable]="true" [width]="160">
            </data-table-column>
            <data-table-column [property]="'baby_dob'" [header]="'DOB'" [sortable]="true" [width]="160">
            </data-table-column>
            <data-table-column [property]="'sex'" [header]="'Sex'" [sortable]="true" [width]="160">
            </data-table-column>
            <data-table-column [property]="'action'" [header]="'Action'" [sortable]="true" [width]="140">
                <ng-template #dataTableCell let-item="item">
                    <hmis-generic-action [itemdata]=item (clickHandler)="clickEventHandler($event)"></hmis-generic-action>
                </ng-template>
            </data-table-column>
        </data-table>
    </div>