<div class="col-md-16">

    <app-header-button-prescription></app-header-button-prescription>

    <div class="clearfix"></div>
    <div style="margin: auto; margin-top:10px">
        <data-table id="patients-grid" headerTitle="Prescription list" [items]="prescription" [itemCount]="precriptionCount" (reload)="reloadPrescription($event)"
            [limit]="15" [sortAsc]="false" [selectColumn]="false" [multiSelect]="false" [substituteRows]="false" [expandableRows]="false"
            [translations]="translations" [indexColumn]="false" [selectOnRowClick]="true">

            <data-table-column [property]="'$id'" [header]="'Sl. No.'" [sortable]="true" [width]=80>
            </data-table-column>
            <data-table-column [property]="'patient_name'" [header]="'Patient name'" [sortable]="true" [resizable]=true [width]="180">
            </data-table-column>
            <data-table-column [property]="'doctro_under_name'" [header]="'Prescribed doctor'" [sortable]="true" [resizable]=true
                [resizable]=true [width]="180">
            </data-table-column>
            <data-table-column [property]="'date_of_prescription'" [header]="'Prescription date'" [sortable]="true" [resizable]=true
                [resizable]=true [width]="180">
            </data-table-column>

            <!-- <data-table-column [property]="'action'" [header]="'Action'" [sortable]="false" [resizable]=true [width]="200">
                <ng-template #dataTableCell let-item="item">
                    <hmis-generic-action [printDisable]="false" [itemdata]=item (clickHandler)="clickEventHandler($event)"></hmis-generic-action>
                </ng-template>
            </data-table-column> -->

            <data-table-column   *ngIf ="!isreadonly" [property]="'action'" [header]="'Action'" [sortable]="false" [resizable]=true [width]="110">
                <ng-template #dataTableCell let-item="item">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <div class="dropdown">
                                    <div class="test">
                                        <div class="dropdown-content">
                                            <a href="#"  (click)="ClickEventHandler($event , 'modeView' , item)"><i class="fa fa-eye" ></i>&nbsp;&nbsp;View</a>
                                            <a href="#"  (click)="ClickEventHandler($event ,'modeEdit' , item)"> <i class="fa fa-edit" ></i>&nbsp;&nbsp;Edit </a>
                                            <a href="#"  (click)="ClickEventHandler($event , 'modeDelete' , item)"> <i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
    
                </ng-template>
            </data-table-column>
        </data-table>
    </div>



</div>